@using FreightTransportationWeb.ViewModels
@model List<AuctionViewModel>

<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var auction in Model)
                        {
                                <tr class="bg-white">
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                            <span class="h6 mb-0">@auction.Contractor.UserName</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@auction.Contractor.Id">
                                            View Profile
                                        </a>
                                    <a class="btn btn-outline-primary" asp-controller="Comment" asp-action="Index" asp-route-id="@auction.Contractor.Id">
                                            Comments
                                        </a>
                                        <a>
                                        @for (int i = 0; i < (int)auction.AverageRating; i++)
                                            {
                                                <span class="text-danger bi bi-star-fill"></span>
                                            }
                                        @if (auction.AverageRating % 1 >= 0.5)
                                            {
                                                <span class="text-danger bi bi-star-half"></span>
                                            @for (int i = (int)auction.AverageRating; i < 5 - 1; i++)
                                                {
                                                    <span class="text-danger bi bi-star"></span>
                                                }
                                            }
                                            else
                                            {
                                            @for (int i = (int)auction.AverageRating; i < 5; i++)
                                                {
                                                    <span class="text-danger bi bi-star"></span>
                                                }
                                            }

                                        </a>
                                    <span class="h6 mb-0">Цена доставки: @auction.Price</span>
                                    <a class="btn btn-outline-primary" asp-controller="Order" asp-action="ChoosContractor" asp-route-id="@auction.Id">
                                        Выбрать для доставки
                                    </a>
                                    </td>
                                </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
