@using FreightTransportationWeb.Data.Enum
@using FreightTransportationWeb.ViewModels

@model DashboardViewModel

<h1 class="display-4 fw-normal">Accepted Orders</h1>
<div class="album py-5 bg-light">
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <h2 class="display-5 fw-normal">Поданные заявки</h2>
            <div class="row">
                @foreach (var item in Model.Auctions)
                {
                    <div class="col-sm">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <p class="card-text">@item.Package.Weight</p>
                                <p class="card-text">@item.Package.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="btn btn-success" asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted">@item.OrderStatus</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <h2 class="display-5 fw-normal">Принятые заказы</h2>
            <div class="row">
                @foreach (var item in Model.Orders)
                {
                    @if (item.OrderStatus == OrderStatus.InProgress)
                    {
                        <div class="col-sm">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <p class="card-text">@item.Package.Weight</p>
                                    <p class="card-text">@item.Package.Description</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="btn btn-success" asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id"
                                               class="btn btn-sm btn-outline-secondary">View</a>
                                        </div>
                                        <small class="text-muted">@item.OrderStatus</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>